<div class="container-fluid bg-light py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h3 class="text-center mb-4">Sign-up</h3>
                <form [formGroup]="signupForm" (ngSubmit)="onFormSubmit(signupForm)" enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="E-mail Address" formControlName="email" type="text">
                            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                                <div *ngIf="email.errors.required">Email is required</div>
                                <div *ngIf="email.errors.email">Invalid Email</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Password" formControlName="password" value="" type="password">
                            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                                <div *ngIf="password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Name" formControlName="name" value="" type="text">
                            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                                <div *ngIf="name.errors.required">Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Age" formControlName="age" value="" type="number">
                            <div *ngIf="age.touched && age.invalid" class="alert alert-danger">
                                <div *ngIf="age.errors.required">Age is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Phone" formControlName="phone" value="" type="number">
                            <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">
                                <div *ngIf="phone.errors.required">Phone is required</div>
                                <div *ngIf="phone.errors.min">Too short</div>
                                <div *ngIf="phone.errors.max">Too long</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Location" formControlName="location" value="" type="text">
                            <div *ngIf="location.touched && location.invalid" class="alert alert-danger">
                                <div *ngIf="location.errors.required">Location is required</div>
                            </div>
                        </div>
                        <div>
                            <h3 class="text-muted">Gender</h3>
                            <label class="radio-inline">
                                <input type="radio" formControlName="gender" value="Male"> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" formControlName="gender" value="Female"> Female
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control-file" formControlName="file">
                        </div>
                        <input type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="signupForm.invalid" value="SignUp">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>