<!-- Card container that binds all togather -->  
<mat-card>  
  <!-- Title of an Card -->  
  <mat-card-title>  
      Register 
  </mat-card-title>  

  <!-- Actual content starts from here -->  
  <mat-card-content>  
      <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm)">  
          <table>  
              <tr>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="Name" matInput placeholder="Name">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!regiForm.get('Name').valid && regiForm.get('Name').touched">Please enter First Name !!!</span>  
                      </mat-error>  
                  </td>
              </tr>  
              <tr>  
                <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="Email" matInput placeholder="Email">  
                        <!-- <mat-hint>use like : demo@demo.com</mat-hint>   -->
                        <mat-error>  
                            <span *ngIf="!regiForm.get('Email').valid && regiForm.get('Email').touched">Enter proper Email !!!</span>  
                        </mat-error>  
                    </mat-form-field>  
                </td>  
            </tr> 
              <tr>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                            <input type="password" formControlName="Password" matInput placeholder="Password"> 
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!regiForm.get('Password').valid && regiForm.get('Password').touched">Please enter proper password !!!</span>  
                      </mat-error>  
                  </td>  
              </tr>  
              <tr>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input type="number" formControlName="Age" matInput placeholder="Age">
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!regiForm.get('Age').valid && regiForm.get('Age').touched">Enter valid age.</span>  
                      </mat-error>  
                  </td>  
              </tr>  
              <tr>
                  <td>
                      <mat-form-field class="demo-full-width">
                          <input type="number" formControlName="Phone" matInput placeholder="Phone">
                      </mat-form-field>
                      <mat-error>  
                          <span *ngIf="!regiForm.get('Phone').valid && regiForm.get('Phone').touched">Enter valid phone number.</span>  
                      </mat-error> 
                  </td>
              </tr>
              <tr>  
                  <td>  
                      <span>Gender</span><br><br>  
                      <mat-radio-group formControlName="Gender">  
                          <mat-radio-button value="Male">Male</mat-radio-button>  
                          <mat-radio-button value="Female">Female</mat-radio-button>  
                      </mat-radio-group>  
                      <mat-error>  
                          <span *ngIf="!regiForm.get('Gender').valid && regiForm.get('Gender').touched">Please select any gender !!!</span>  
                      </mat-error>  
                  </td>  
              </tr>  
              
              <tr>  
                  <td colspan="2">  
                      <mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Accept Terms & Conditions</mat-slide-toggle>  
                  </td>  
              </tr>  
              <tr>  
                  <td colspan="2" class="content-center">  
                      <button mat-raised-button color="accent" [disabled]="!regiForm.valid || IsAccepted==0">Submit</button>  
                  </td>  
              </tr>  
              <tr>  
                  <td></td>  
              </tr>  
          </table>  
      </form>  
  </mat-card-content>  
</mat-card>  