<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <ul class="nav nav-pills nav-stacked" style="font-size:25px;">
                <li>
                    <a href="#" class="text-center">View Current Auction</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="nav nav-pills nav-stacked" style="font-size:25px;">
                <li>
                    <a href="#" class="text-center">Add Product For Auction</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="nav nav-pills nav-stacked" style="font-size:25px;">
                <li>
                    <a href="" class="text-center">Auction Winning Products</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="slider-holder">
            <span id="slider-image-1"></span>
            <span id="slider-image-2"></span>
            <span id="slider-image-3"></span>
            <div class="image-holder">
                <img src="../../../assets/images/dashboard-images/Auction-8.jpg" class="slider-image" />
                <img src="../../../assets/images/dashboard-images/ny.jpg" class="slider-image" />
                <img src="../../../assets/images/dashboard-images/chicago.jpg" class="slider-image" />
            </div>
            <div class="button-holder">
                <a href="#slider-image-1" class="slider-change"></a>
                <a href="#slider-image-2" class="slider-change"></a>
                <a href="#slider-image-3" class="slider-change"></a>
            </div>
        </div>
    </div>
</div>