<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to0 {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<div class="navHome">
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
         
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Stores/Auction</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">How it works</a></li>
          <li><a href="#">winners</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Get Started</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
<span class="logo">

  <img src="ubid1.png" alt="">

</span>

  <div id="main-sec">

<div id="sec-1">
  <div class="menu">

    <input id="menu-toggle" type="checkbox" />
    <label class="menu-toggle-close" for="menu-toggle"></label>
    <label class="menu-toggle-burger" for="menu-toggle"></label>

    <nav class="menu-body">
        <div class="left">
          <h1>YouBid.pk</h1>
            <p>Place your Bid and Win.</p>
            <ul>
              <li class="social">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
                  <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </li>
          </ul>  
        </div>

        <div class="right">
          <div class="container">
              <form method="post">
                <h1>Join Us</h1>
                  <div class="form-row">
                    <input type="text" name="firstName" placeholder="Enter First Name" required autofocus>
                  </div>
                  <div class="form-row">
                      <input type="text" name="lastName" placeholder="Enter Last Name" required>
                  </div>
                  <div class="form-row">
                      <input type="email" name="email" placeholder="Enter Email" required>
                  </div>
                  <div class="form-row">
                      <input type="password" name="password" placeholder="Enter Password" required>
                  </div>
                  <button type="submit">Sign up</button>
              </form>
          </div>
        </div>
    </nav>
  </div>
</div>

<div id="sec-2">
  <div class="front-side">
    <div class="center-xy">
    
      <div>
        <img src="ubid.jpg" alt="" >
      
      </div>

     
      <p class="text">One Place for All your Needs</p>
    </div>
  </div>
</div>

</div>