<mat-toolbar color="primary">    
    <img class="mdc-image-list__image" src="../../../assets/images/logo.png">
    <span class="demo-toolbar"></span>
    <span>Online Auction</span>  
    <span class="example-spacer"></span>
    <a *ngIf="!upvc.isLoggedIn()" mat-raised-button color="primary" routerLink="/Login">
        Login
    </a>
    &nbsp;&nbsp;
    <a *ngIf="!upvc.isLoggedIn()" mat-raised-button color="primary" routerLink="/Register">
        Register
    </a>  
    <a *ngIf="upvc.isLoggedIn()" mat-raised-button color="primary" routerLink="/profile">
        {{ upvc.currentUser.user.name}}
    </a> 
    &nbsp;&nbsp;
    <a *ngIf="upvc.isLoggedIn()" mat-raised-button color="primary" routerLink="/dashboard">
        Home
    </a> 
    &nbsp;&nbsp;
    <a *ngIf="upvc.isLoggedIn()" mat-raised-button color="primary" (click)="logout()" routerLink="/Login">
        Logout
    </a>     
</mat-toolbar>